<ion-header>
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-item>
      <ion-datetime
        [showDefaultTitle]="true"
        presentation="date-time"
        [preferWheel]="true"
        [(ngModel)]="alarmTime"
      >
        <span slot="title">Select an alarm date</span>
      </ion-datetime>
    </ion-item>
    <ion-button expand="full" (click)="setAlarm()">Save Alarm</ion-button>
    <ion-list>
      <ion-item *ngFor="let alarm of alarms; let i = index">
        <ion-label>{{ alarm.time | date: 'd/MM/yyyy - H:mm' }}</ion-label>
        <ion-button (click)="deleteAlarm(i)">Delete</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
